@model VideoPlayer.Model.Season
@{
    ViewBag.Title = "Edit";
}

<h2>Edit crtic</h2>

<form asp-controller="Series" asp-action="EditSeason" method="post">
    <text>
        @await Html.PartialAsync("Season/_CreateOrEditSeason")
        <input asp-for="ID" type="hidden" />
    </text>
</form>

<div>
    <a asp-action="Index">Back to list</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}